@use '../utils/variables' as var;
@use '../utils/functions' as func;

.country-card {
    width: 100%;
    text-align: center;

    &--main {
        @extend .country-card;

        &--visible {
            @extend .country-card--main;
            @extend .country-card--visible;
        }

        .country-card {
            &-emoji {
                font-size: func.pxToRem(500);
            }

            &-name {
                font-size: func.pxToRem(40);
                margin-top: func.pxToRem(24);
            }

            &-wrap {
                height: 500px;
            }
        }
    }

    &--visible {
        @extend .country-card;

        .country-card-wrap {
            transform: rotateX(-180deg);
        }
    }

    &-wrap {
        position: relative;
        width: 100%;
        height: 126px;
        transition: transform var.$transition-mid;
        transform-style: preserve-3d;
    }

    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: var.$border-radius;
    }

    &-front {
        background: var.$green;
    }

    &-back {
        background: var.$black;
        transform: rotateX(-180deg);
        transition: transform var.$transition-mid;
    }

    &-emoji {
        user-select: none;
        font-size: func.pxToRem(125);
    }

    &-name {
        font-weight: var.$font-semibold;
        font-size: func.pxToRem(20);
        margin-top: func.pxToRem(12);
    }
}
