@use '../utils/variables' as var;

.guesses {
    &-container {
        margin-top: 12px;
    }

    &-list {
        list-style-position: inside;
    }

    &-item {
        margin-top: 4px;

        &::marker {
            content: attr(data-icon);
        }

        >span {
            position: relative;
            right: -8px;
        }
    }
}