@use './functions' as func;

// colour variables
$black: #202020;
$opaque-black: rgba($black, 0.75);
$white: #EEEEEE;
$green: #29A173;

// typography variables
$font-family: "Poppins", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$title-large: func.pxToRem(64);

// responsivity variables
$sm: 575px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// other variables
$border-radius: 8px;