@use '../utils/variables' as var;
@use '../utils/functions' as func;

$gameboard-gap: func.pxToRem(16);

.gameboard {

    @media (min-width: var.$lg) {
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        gap: $gameboard-gap;
        align-items: flex-start;
    }

    &-list {
        @media (min-width: var.$lg) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $gameboard-gap * 2 $gameboard-gap;
        }
    }

    &-wrap {
        width: 80%;
        margin: 0 auto;
    }
}