@use '../utils/variables' as var;
@use '../utils/functions' as func;

.gameboard {

    @media (min-width: var.$lg) {
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        gap: func.pxToRem(32);
        align-items: flex-start;
    }

    &-list {
        @media (min-width: var.$lg) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: func.pxToRem(20);
        }
    }

    &-wrap {
        width: 80%;
        margin: 0 auto;
    }
}