@use '../utils/variables' as var;
@use '../utils/functions' as func;
@use '../utils/helpers';

.header {
    @media (min-width: var.$lg) {
        padding: func.pxToRem(32) 0 func.pxToRem(72);
    }

    &-title {
        @extend .has-green-tag;
        font-size: var.$title-large;
        font-weight: var.$font-bold;
    }
}
