@use '../utils/variables' as var;
@use '../utils/helpers';

.header {
    @media (min-width: var.$lg) {
        padding: 32px 0;
    }

    &-title {
        @extend .has-green-tag;
        font-size: var.$title-large;
        font-weight: var.$font-bold;
    }
}
